@font-face
{
font-family: 'HelveticaUL';
src: url('../fonts/HelveticaNeueLTStd-UltLt.otf');
}

@font-face
{
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeueLTPro-Th.otf');
}

html, body{
	 background:  #141718; 
	
	font-family: 'HelveticaUL' !important;
	font-weight: 300 !important;
}


nav{
	background: rgba(20,23,24,0.9) !important;
	border: none !important;
	height: 105px !important;
	display: none;
}

hr{
	padding: 0;
	margin: 0;
}

.menu{
	width: 100%;
	height: 22px;
	font-size: 18px;
	text-align: center;
	color: #fff;
	padding-top: 3px;
	font-family: 'HelveticaNeue' !important;
	margin-left: 10px;
}

.menu a{
	padding-right: 22px;
}

.shadow {
   -moz-box-shadow:    inset 0 0 20px #000000;
   -webkit-box-shadow: inset 0 0 20px #000000;
   box-shadow:         inset 0 0 20px #000000;
}

body{

}

.jumbotron{
	display: none;
	position: relative !important;
	width: 100%;
	min-height: 500px;
	background: url('../img/merc.jpg');
	background-position: center;
	background-size: 100%;
	text-align: center;
	overflow: hidden;
	border-bottom: 2px solid #359dd6 !important;
}

.jumbotron .heading{

	position: absolute !important;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

h1{
	font-family: 'HelveticaNeue' !important;
	color: #1abc9c;
	margin: 0px;
	font-size: 30px;
	padding-right: 30px;
}

.nav li a{
	padding: 0px !important;
}
.jumbotron .heading h1{
	font-family: 'HelveticaUL' !important;
	color: #fff;
	font-size: 120px;
}

.testimonial{
	color: #fff !important;
	font-size: 20px;
	font-family: 'HelveticaNeue' !important;
	

}


.footer{
	 background:  #8E8E93 !important;
	 height: 100px;
	 border-top:  3px solid #359dd6 !important;
	 text-align: center;
	 font-size: 25px;
	 
}

.footer div{
	margin-top: 35px;
}

.footer div a{
	
	font-family: 'HelveticaNeue' !important;
	color: #fff !important;
}

.footer div a:after{
	content: '•';
}

hr
{
	border: 1px solid #359dd6 !important;
}

.klm{
	color: #359dd6;
	width: 100%;
	text-align: center;
	font-size: 40px;
	padding: 0px;
	margin: 0px;
	height: 42px;
	font-family: 'HelveticaNeue';
}


.logo{
	color: #1abc9c;
	font-size: 30px;
	position: absolute;
	left: 50%;
	width: 136px;
	margin-left: -68px;
	font-family: 'HelveticaNeue';
	margin-top: -5px;
}