@font-face {
    font-family: 'HelveticaUL';
    src: url('../fonts/HelveticaNeueLTStd-UltLt.otf');
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueLTPro-Th.otf');
}

html, body {
    background: #141718 !important;
    padding-bottom: 0px !important;

}

nav {
    background: rgba(20, 23, 24, 1.0) !important;

    border: none !important;

   border-radius: 0 !important;

}



hr {
    padding: 0;
    margin: 0;
}

p i small {
    color: #fff;
    text-align: center;
}

@media (min-width: 768px){

.div-center{
    display: block !important;
    margin: 0 auto;
    width: 1100px !important;
}
    #simple-logo{
        display: none;
    }
}

@media (max-width: 768px) {
    #simple-logo{
        display: block;
        font-size: 30px;
        margin-top: -40px;
        margin-left: 5px;
    }
}

.menu {
    font-size: 25px;
    font-family: 'HelveticaNeue';
    padding-bottom: 5px;
}

.menu li {
    margin-top: -7px;
}

.navbar-default .navbar-nav > li > a{
    color: #fff !important;

}

.menu li:not(:first-child)
{
    padding-left: 20px;
}

.in .menu
{

}

.bottom-nav{
    margin-top: -20px;
}

.shadow {
    -moz-box-shadow: inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow: inset 0 0 20px #000000;
}

body {

}

.item img {
    width: 100%;
    opacity: 0.5;
}

.jumbotron {
    display: none;
    position: relative !important;
    width: 100%;
    min-height: 500px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    overflow: hidden;
    border-bottom: 2px solid #359dd6 !important;
}

.merc {

    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/merc.jpg');
}

.phantom {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/phantom.jpg');

}

.merce {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/merce.jpg');

}

.viano {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/viano.jpg');

}

.heathrow {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/heathrow.jpg');

}

.luton {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/luton.jpg');
}

.stansted {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/stansted.jpg');
}

.oxford {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/oxford.jpg');
}

.gatwick {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/gatwick.jpg');
}

.city {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/city.jpg');
}

.southend {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/southend.jpg');
}

.biggin {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/biggin.jpg');
}

.farnborough {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/farnborough.jpg');
}

.battersea {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/battersea.jpg');
}

.docklands {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/docklands.jpg');
}

.wedding {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/wedding.jpg');
}

.party {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/party.jpeg');

}

.opera {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/opera.jpg');

}

.meeting {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/meeting.jpg');

}

.relax {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/relax.jpg');
}

.style {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/style.jpg');
}

.heading {

    position: absolute !important;
    bottom: 120px;
    width: 100%;
    text-align: center;
}

.carousel {
    display: none;
    height: 100%;
    overflow: hidden;
    border-bottom: 2px solid #359dd6 !important;
}

.license{
    font-size: 18px;
}



.item {
    position: relative !important;
    width: 100%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
}

.carousel-caption {
    position: absolute !important;
    bottom: 20px;

}

.col-xs-4 h2 {
    font-family: 'HelveticaNeue' !important;
    color: #1abc9c;

    font-size: 30px;

}

.nav li a {
    padding: 0px !important;
}

.carousel-caption h1 {
    font-family: 'HelveticaUL' !important;
    color: #fff;
    font-size: 120px;
    text-shadow: 2px 2px #000;
}

.testimonial {
    color: #fff !important;
    font-size: 20px;
    font-family: 'HelveticaNeue' !important;
    margin-top: 20px;
}

.footer {
    background: #8E8E93 !important;
    border-top: 3px solid #359dd6 !important;
    text-align: center;
    font-size: 25px;
    clear: both;
    position: relative;
    z-index: 10;
    margin-top: 50px;
}

.footer ul {
    margin-top: 35px;
}

.footer ul li a {

    font-family: 'HelveticaNeue' !important;
    color: #fff !important;
}

.bullet:before {
    content: ' \02022 ';
}

hr {
    border: 1px solid #359dd6 !important;
}

.klm {
    color: #359dd6;
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding: 0px;
    margin: 0px;
    height: 20px;
    font-family: 'HelveticaNeue';
}

.logo {
    color: #fff;
    font-size: 40px;

    font-family: 'Helvetica';

    text-shadow: 2px 2px #000;
}

.error {
    color: red;
}

.in ul li{
    padding-bottom: 10px;
}

.in ul li a{
    font-size: 18px !important;
}

.current-menu-item a{
    border-bottom: 3px solid #fff;
}
